@import "bourbon";

#ai1ec-container {
    margin:0 -60px;
}

.ai1ec-action-agenda {
    .calendar-wrapper {
        background-color:$white;
        border:3px solid $red;
    }
    #agenda-images {
        float:left;
        margin-right:20px;
    }
}
    .ai1ec-calendar-toolbar {
    ul {
        list-style:none !important;
        margin:0;
        padding:0;
        li {
            @include box-sizing(border-box);
            float:left;
            margin-right:.5%;
            padding:2em 1em;
            height:60px;
            width:19.6%;
            &:last-of-type {
                margin-right:0;
            }
        }
    }
    }




.ai1ec-agenda-view {
    .ai1ec-event {
        margin:1em 0;
    }
    .ai1ec-date-title {
        font-size:16px;
        text-transform:uppercase;
        margin:0;
        padding-top: 1em;
    }
  .ai1ec-event-title {
    font-family:'QuicksandBook';
    color:$red;
  }
  .ai1ec-date-events {
        margin: 0 0 .75em 1em !important;
        padding: 0 !important;
    > li {
      list-style: none !important;
    }
  }
  > li {
    list-style: none !important;
  }
  .ai1ec-event-header {
    color:black;
    font-size:14px;
  }
  .ai1ec-agenda-view {
    margin:0;
    padding:0;
  }
}

.ai1ec-dropdown, .ai1ec-label {
    display:none!important;
}

.ai1ec-agenda-widget-view {
    ol, li {list-style:none;margin:0;padding:0;}
    ol {margin:0 1em;}
    color:$dark-text;
    .ai1ec-event-title {
        font-weight:bold;
    }
    a, a:hover {
        color:$dark-text;
        text-decoration:none;
    }
    .ai1ec-event-location, .ai1ec-event-time, .ai1ec-allday-label {
        color:$red;
    }
    .ai1ec-date{
    display:none;
        &.ai1ec-today {
        display:block;
      }
  }
}
