// Fonts
$header-font: 'QuicksandLight', Arial, sans-serif;

// colors
$red: #cc2933;
$grey: #E6E6E6;
$gray: $grey;
$darkgrey: #8e8e8e;
$white: #fff;
$dark-text:#000;
$purple:#482859;
$teal:#ADD3CF;
$salmon:#E94347;
$green:#86B243;
$orange:#E5B257;
$dark-teal:#6E8C95;
$blue-teal:#327e85;